[submodule "PyDynamic"]
	path = PyDynamic
	url = https://github.com/PTB-PSt1/PyDynamic.git
[submodule "PySensorNetwork"]
	path = PySensorNetwork
	url = https://github.com/Met4FoF/PySensorNetwork.git
[submodule "ZeMA-machine-learning-tutorials"]
	path = tutorials/ZeMA-machine-learning-tutorials
	url = https://github.com/harislulic/ZeMA-machine-learning-tutorials.git
[submodule "agentMET4FOF"]
	path = agentMET4FOF
	url = https://github.com/bangxiangyong/agentMET4FOF.git
[submodule "Met4FoF-SmartUpUnit"]
	path = Met4FoF-SmartUpUnit
	url = https://github.com/Met4FoF/Met4FoF-SmartUpUnit.git
[submodule "Strathcylde_AFRC_machine_learning_tutorials"]
	path = tutorials/Strathcylde_AFRC_machine_learning_tutorials
	url = https://github.com/harislulic/Strathcylde_AFRC_machine_learning_tutorials.git
[submodule "datareceiver"]
	path = datareceiver
	url = https://github.com/Met4FoF/datareceiver.git
[submodule "agentMET4FOF_ml"]
	path = tutorials/agentMET4FOF_ml
	url = https://github.com/Met4FoF/agentMET4FOF_ml.git
[submodule "agentMET4FOF_bayesian_neural_network_ZeMA"]
	path = tutorials/agentMET4FOF_bayesian_neural_network_ZeMA
	url = https://github.com/Met4FoF/agentMET4FOF_bayesian_neural_network_ZeMA
[submodule "agentMET4FOF_ZeMA_emc"]
	path = tutorials/agentMET4FOF_ZeMA_emc
	url = https://github.com/Met4FoF/agentMET4FOF_ZeMA_emc.git
[submodule "agentMET4FOF_anomaly_detection"]
	path = tutorials/agentMET4FOF_anomaly_detection
	url = https://github.com/Met4FoF/agentMET4FOF_anomaly_detection.git
[submodule "connect-agentMET4FOF-smartupunit"]
	path = tutorials/connect-agentMET4FOF-smartupunit
	url = https://github.com/bangxiangyong/connect-agentMET4FOF-smartupunit.git
[submodule "PyDynamic_tutorials"]
	path = tutorials/PyDynamic_tutorials
	url = https://github.com/PTB-PSt1/PyDynamic_tutorials.git
