[submodule "PyDynamic"]
	path = PyDynamic
	url = https://github.com/PTB-PSt1/PyDynamic.git
[submodule "PySensorNetwork"]
	path = PySensorNetwork
	url = https://github.com/Met4FoF/PySensorNetwork.git
[submodule "ZeMA-machine-learning-tutorials"]
	path = ZeMA-machine-learning-tutorials
	url = https://github.com/harislulic/ZeMA-machine-learning-tutorials.git
[submodule "agentMET4FOF"]
	path = agentMET4FOF
	url = https://github.com/bangxiangyong/agentMET4FOF.git
[submodule "Met4FoF-SmartUpUnit"]
	path = Met4FoF-SmartUpUnit
	url = https://github.com/Met4FoF/Met4FoF-SmartUpUnit.git
[submodule "Strathcylde_AFRC_machine_learning_tutorials"]
	path = Strathcylde_AFRC_machine_learning_tutorials
	url = https://github.com/harislulic/Strathcylde_AFRC_machine_learning_tutorials.git
[submodule "datareceiver"]
	path = datareceiver
	url = https://github.com/Met4FoF/datareceiver.git
[submodule "agentMET4FOF_ml"]
	path = agentMET4FOF_ml
	url = https://github.com/Met4FoF/agentMET4FOF_ml.git
