-e file:agentMET4FOF
-r agentMET4FOF/dev-requirements.in
-e file:Met4FoF-redundancy
-c Met4FoF-redundancy/requirements/dev-requirements.txt
-e file:PyDynamic
# Due to the relative dependency on itself in the dev deps, we cannot use their
# dev-requirements for compilation.
# -c PyDynamic/requirements/dev-requirements.in
-e file:time-series-buffer
-e file:time-series-metadata
-c time-series-metadata/requirements/dev-requirements.in
-r tutorials/agentMET4FOF_anomaly_detection/requirements.in
-c tutorials/agentMET4FOF_anomaly_detection/dev-requirements.in
-c tutorials/agentMET4FOF_bayesian_neural_network_ZeMA/requirements.txt
# Does not work anymore as it is dependent on Numpy < 1.20.0 and due to this
# mesa < 1.0.0 which contradicts agentMET4FOF requiring mesa==1.1.1
# -r tutorials/agentMET4FOF_ml/requirements.txt
-c tutorials/agentMET4FOF_sensors/requirements.in
-c tutorials/agentMET4FOF_ZeMA_emc/requirements.in
# Unfortunately we have to comment out PyDynamic_tutorials' deps due to their support
# of Python 3.7 which contradicts agentMet4FoF's requirement of Python >= 3.8.
# -c file:tutorials/PyDynamic_tutorials/requirements/requirements.in
-c tutorials/ZeMA-machine-learning-tutorials/requirements.txt
-c ZeMA_testbed_Bayesian_machine_learning/requirements.in
# Due to a strange bug starting from version v7.29.0 we have to pin here .
python-semantic-release<=7.28.1
