-r agentMET4FOF/requirements.txt
-r tutorials/agentMET4FOF_anomaly_detection/requirements.in
-r tutorials/agentMET4FOF_bayesian_neural_network_ZeMA/requirements.txt
-r tutorials/agentMET4FOF_ml/requirements.txt
-r tutorials/agentMET4FOF_ZeMA_emc/requirements.in
-r PyDynamic/requirements/requirements.in
-r PyDynamic/requirements/dev-requirements.in
-r tutorials/ZeMA-machine-learning-tutorials/requirements.txt
